.image-gallery-icon {
	@apply text-blue-200 hover:text-blue-400 drop-shadow;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
	@apply w-7;
}

.image-gallery-thumbnail {
	@apply border-2;

	&.active,
	&:focus,
	&:hover {
		@apply border-2 border-blue-400;
	}
}

.yarl__thumbnails_container {
	padding: 0;
	background: none;
}

.yarl__thumbnails_bottom .yarl__thumbnails_vignette,
.yarl__thumbnails_top .yarl__thumbnails_vignette {
	background: none;
}

.yarl__thumbnails_thumbnail {
	background: none;
}
