@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  input {
    outline: none;
  }

  .icon {
    @apply text-2xl;
  }
}

@layer components {
  .btn {
    @apply h-12 rounded-sm font-bold w-72 flex justify-center items-center transition-all;
  }

  .primary {
    @apply text-black transition;
    background: var(--g-color-primary);

    &:hover {
      background: var(--g-color-primary);
    }
  }

  .black {
    @apply text-white transition;
    background: var(--g-color-background);
  }

  /*.secondary {*/
  /*  @apply bg-white hover:bg-blue-200;*/
  /*}*/

/*  .success {*/
/*    @apply bg-black text-white hover:bg-gray-800;*/
/*  }*/

/*  .small {*/
/*    @apply w-20;*/
/*  }*/
}
