@import 'tailwindcss';

@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-gray-50: #fafafc;
    --color-gray-100: #EBECF0;
    --color-gray-200: #E4EAF0;
    --color-gray-300: #E1E8F5;
    --color-gray-400: #F0F0F0;
    --color-gray-500: #707680;
    --color-gray-600: #575C66;
    --color-gray-700: #303233;
    --color-gray-800: #232323;
    --color-gray-900: #1E2121;
    --color-gray-950: #050000;

    --color-blue-100: #EBEEFC;
    --color-blue-500: #334CCC;
    --color-blue-800: #1D33A5;

    --color-teal-500: #6EDEAD;

    --color-violet-500: #6550D3;
}

@theme static {
    --color-black: var(--color-gray-950);

    --color-primary: var(--color-blue-500);
}

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*}*/

/*@layer base {*/
/*  input {*/
/*    outline: none;*/
/*  }*/

/*  .icon {*/
/*    @apply text-2xl;*/
/*  }*/
/*}*/

/*@layer components {*/
/*  .btn {*/
/*    @apply h-12 rounded-sm font-bold w-72 flex justify-center items-center transition-all;*/
/*  }*/

/*  .primary {*/
/*    @apply text-black transition;*/
/*    background: var(--g-color-primary);*/

/*    &:hover {*/
/*      background: var(--g-color-primary);*/
/*    }*/
/*  }*/

/*  .black {*/
/*    @apply text-white transition;*/
/*    background: var(--g-color-background);*/
/*  }*/

  /*.secondary {*/
  /*  @apply bg-white hover:bg-blue-200;*/
  /*}*/

/*  .success {*/
/*    @apply bg-black text-white hover:bg-gray-800;*/
/*  }*/

/*  .small {*/
/*    @apply w-20;*/
/*  }*/
/*}*/
